@model EAD_TERM_PROJECT_SECOND_EVALUATION.Models.Product
<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/Layout3.cshtml";
 }
   
<div class="col-lg-5"></div>
<div class="col-lg-6">
  <table>
    @using (Html.BeginForm("/DeleteProduct1", "Admin", FormMethod.Post)){
         <tr><td><h2 style="color:red">DeleteProduct: </h2></td><td></td></tr>
    <tr><td><h3 style="color:red">PRODUCT I.D</h3></td><td>@Html.TextBoxFor(m => m.ProductId, new { placeholder = "I.D" })</td></tr>
      <tr><td></td><td> <br /><input type="submit" class="btn btn-danger col-lg-11 " value="DELETE PRODUCT"/></td></tr>
  }
    </table>  
</div>
 
               
               
              
                

              
               
               
               
              
               
            
               
           }
