
<!DOCTYPE html>
    <!--==============================row2=================================-->
    <div class="row_2">
        <div class="container">
            <div class="row">
                <ul class="list1">
                    <li class="col-lg-4 col-md-4 col-sm-4 listbox1">
                        <div class="box1">
                            <a href="~/Customer/Fans">
                                <figure><img src="~/image/image18.jpg" alt=""></figure>
                                <p>FANS</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-4 col`-sm-4 listbox2">
                        <div class="box2">
                            <a href="~/Customer/Lights">
                                <p>LIGHTS</p>
                                <figure><img src="~/image/image2.jpg" alt=""></figure>
                            </a>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-4 listbox3">
                        <div class="box3">
                            <a href="~/Customer/ProductsPage">
                                <figure><img  src="~/image/image4.jpg" alt=""></figure>
                                <p> ELECTRONIC APPLIANCES</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================row3=================================-->
    <div class="row_3">
        <div class="container">
            <div class="row">
                <ul class="list3">
                    <li class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box4">
                            <figure><img src="~/image/image5.jpg" alt=""></figure>
                            <div class="info1 maxheight">
                                <p class="list3title1">FANS COLLECTION</p>
                                <p class="list3title2">Migytafsas deuauyt asares</p>
                                <p class="list3title3">Kictaesaert asetyertya aset aplicibrdedas.</p>
                                <a href="~/Customer/Fans" class="btn-link btn-link1">learn more<span></span></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box4">
                            <figure><img src="~/image/image2.jpg" alt=""></figure>
                            <div class="info1 maxheight">
                                <p class="list3title1">LIGHTS COLLECTION</p>
                                <p class="list3title2">Btreasas lisemeyta siqades</p>
                                <p class="list3title3">Kictaesaert asetyertya aset aplicibrdedas.</p>
                                <a href="~/Customer/Lights" class="btn-link btn-link1">learn more<span></span></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box4">
                            <figure><img src="~/image/image10.jpg" alt=""></figure>
                            <div class="info1 maxheight">
                                <p class="list3title1">LAMPS COLLECTION</p>
                                <p class="list3title2">Dolore nuyfasa kerytertas</p>
                                <p class="list3title3">Kictaesaert asetyertya aset aplicibrdedas.</p>
                                <a href="~/Customer/Lamps" class="btn-link btn-link1">learn more<span></span></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box4">
                            <figure><img src="~/image/image4.jpg" alt=""></figure>
                            <div class="info1 maxheight">   
                                <p class="list3title1">ELECTRIC IRON COLLECTION</p>
                                <p class="list3title2">Fertyuasa mietyas lteasas</p>
                                <p class="list3title3">Kictaesaert asetyertya aset aplicibrdedas.</p>
                                <a href="~/Customer/Irons" class="btn-link btn-link1">learn more<span></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    