@{
    ViewBag.Title = "Search";
    Layout = null;
   
}

<style>
    body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

table
{
    margin-left:50px;
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}
</style>
        
<div class="content-header">
                
    
                <h1>
                    @*<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>*@
                    Products Details
                </h1>
                 
                <table class="table table-striped">
                    
                    <tr> 
                        <th>#</th>  
                        <th style ="color:red">Product Name</th>       
                        <th style ="color:red">Price</th>
                    </tr>
    
                    @foreach (var p in Model)
                    {
                        
                    <tr> 
                        <td></td>  
                        <td style ="color:red">@p.ProductName</td>          
                        <td style ="color:red">@p.ProductPrice</td>
                    </tr>
                    
                         
                    } 
                    
                </table>
    

            </div>
