
@{
    Layout = null;
}
@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>

 <h1>HELLOOOOOOOOOOOOOO</h1>
 
<div class="top-nav-right">
    <input id="search1" type="text">
	<button id="search" >Search</button>
</div>
	<div class="clear"> </div>
	<div class="clear"> </div>
    